<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chloe | Asistente Virtual</title>
    <link rel="stylesheet" href="static/recorder.css">
    <link rel="icon" href="static/images/chloe-icon.svg" sizes="any" type="image/svg+xml">
  </head>
  <body>
    <audio src="static/welcome.mp3" autoplay>
      Your browser does not support the <code>audio</code> element.
    </audio>
    <div class="container">
      <h1  class="logo"><img class="fadeInUp-animation" src="static/images/chloe-logo.svg" alt="Logo Chloe"></h1>
      <h1 class="fadeInUp-animation">Hola, ¿en qué te puedo ayudar hoy?</h1>
      <button type="button" class="btn-record fadeInUp-animation" id="record" onclick="record()">
        <ion-icon name="mic-outline" class="microphone"></ion-icon>
      </button>
      <button type="button" class="btn-record" id="stop" onclick="stop()" style="display:none">
        <ion-icon name="stop-sharp" id="record-stop-label"></ion-icon>
        <div class="loading" id="record-stop-loading" style="display: none">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </button>
      <div class="container-info">
      <p class="hero-paragraph" id="text"></p>
    </div>
    <div class="copyright">
      <p>Get the answers you're looking for with &copyChloe</p>
    </div>
    
    </div>

    <script src="static/recorder.js"></script>

    <script type="text/javascript">
        recorder("/audio", response => {
            document.getElementById("record").style.display="";
            document.getElementById("stop").style.display="none";
            if (!response || response == null) {
                console.log("No response");
                return;
            }
            console.log("El texto fue: " + response.text)
            document.getElementById("text").innerHTML = response.text;
            if (typeof response.file !== "undefined") {
                //Reproducir el audio que regreso Python
                audioFile = response.file;
                let audio = new Audio();
                audio.setAttribute("src", "static/" + audioFile);
                audio.play();
            }
        });

        const playSound = function() { 
          let welcome = new Audio("static/welcome.mp3");
            welcome.play(); 
            document.removeEventListener('click', playSound);
          }
        document.addEventListener('click', playSound);

    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
