<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Virtual assistant</title>
    <link
      rel="stylesheet"
      href="https://preview.cruip.com/solid/dist/css/style.css"
    />
    <link rel="stylesheet" href="static/recorder.css">
    <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet">
  </head>
  <body>
              <button type="button" class="btn-record btn-record-green" id="record" onclick="record()">
                <img class="mic-img" src="static/img/microphone.png" />
            </button>
            <button type="button" class="btn-record btn-record-red" id="stop" onclick="stop()" style="display:none">
                <img class="mic-img" id="record-stop-label" src="static/img/microphone.png" />
                <span id="record-stop-loading" style="display: none"><span class="spinner-border spinner-border-sm record-spinner" role="status" aria-hidden="true"></span></span>
            </button>
            <p class="hero-paragraph" id="text"></p>

    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>

    <script src="static/recorder.js"></script>

    <script type="text/javascript">
        recorder("/audio", response => {
            document.getElementById("record").style.display="";
            document.getElementById("stop").style.display="none";
            if (!response || response == null) {
                console.log("No response");
                return;
            }
            console.log("El texto fue: " + response.text)
            document.getElementById("text").innerHTML = response.text;
            if (typeof response.file !== "undefined") {
                //Reproducir el audio que regreso Python (si existe)
                audioFile = response.file;
                let audio = new Audio();
                audio.setAttribute("src", "static/" + audioFile);
                audio.play();
            }
        });
    </script>
  </body>
</html>
